<div class="container">
    <!-- Contenedor para el botón y el campo de búsqueda -->
    <div class="action-bar">
      <button mat-raised-button style="background-color: #003b70; color: white;"  (click)="openCreateDialog('descuento')" class="create-button">Crear Descuento</button>
      <!-- Campo de búsqueda -->
      <mat-form-field class="example-full-width search-field" appearance="fill">
          <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()" placeholder="Ingresa tu búsqueda">
      </mat-form-field>
  </div>
<table mat-table [dataSource]="filteredDescuentos | paginate: { itemsPerPage: 10, currentPage: p }" class="mat-elevation-z8" >
  <!-- Columna de nombre -->
  <ng-container matColumnDef="cantidad_estudiantes">
    <th mat-header-cell *matHeaderCellDef style="background-color: #003b70; color: white;"> Cantidad estudiantes </th>
    <td mat-cell *matCellDef="let descuento"> {{descuento.numEstudiantes}} </td>
  </ng-container>
  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef style="background-color: #003b70; color: white;"> Valor </th>
    <td mat-cell *matCellDef="let ingreso"> ${{ingreso.valor}} </td>
  </ng-container>
  <ng-container matColumnDef="numero_periodos">
    <th mat-header-cell *matHeaderCellDef style="background-color: #003b70; color: white;"> Número periodos </th>
    <td mat-cell *matCellDef="let descuento"> {{descuento.numPeriodos}} </td>
  </ng-container>
  <ng-container matColumnDef="tipo_descuento">
    <th mat-header-cell *matHeaderCellDef style="background-color: #003b70; color: white;"> Tipo descuento </th>
    <td mat-cell *matCellDef="let descuento"> {{descuento.tipoDescuento.nombreTipo}} </td>
  </ng-container>
  <ng-container matColumnDef="totalDescuento">
    <th mat-header-cell *matHeaderCellDef style="background-color: #003b70; color: white;"> Total descuento </th>
    <td mat-cell *matCellDef="let descuento"> ${{descuento.totalDescuento}} </td>
  </ng-container>

  <!-- Columna de acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef style="background-color: #003b70; color: white;"> Acciones </th>
    <td mat-cell *matCellDef="let descuento">
      <button mat-icon-button color="primary" (click)="openCreateDialog('descuento', descuento)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="openDeleteDialog(descuento.id, 'descuento')">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
