<h1 mat-dialog-title class="dialog-title">{{data.isEdit ? 'Editar' : 'Crear'}} {{data.modulo}}</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="data.modulo !== 'ingreso' && data.modulo !== 'descuento'">
    <mat-label *ngIf="data.modulo != 'cohorte'">Nombre del {{data.modulo}}</mat-label>
    <mat-label *ngIf="data.modulo == 'cohorte'">Número de {{data.modulo}}</mat-label>
    <input *ngIf="data.modulo != 'cohorte'" matInput [(ngModel)]="data.nombre">
    <input *ngIf="data.modulo == 'cohorte'" matInput [(ngModel)]="data.numero">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'usuario'">
    <mat-label>Apellidos</mat-label>
    <input matInput [(ngModel)]="data.apellido">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'usuario'">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <div *ngIf="data.modulo === 'usuario'">
    <span class="field-label">Seleccione rol perteneciente</span>
    <select class="form-control" [(ngModel)]="rolSeleccionado">
        <option *ngFor="let item of this.listaRoles" [value]="item.id">{{item.nombre}}</option>
    </select>
  </div>
  <mat-form-field *ngIf="data.modulo === 'ingreso'">
    <mat-label>Concepto del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.concepto">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'ingreso' || data.modulo === 'descuento'">
    <mat-label>Valor del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.valor" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'descuento'">
    <mat-label>Número de estudiantes</mat-label>
    <input matInput [(ngModel)]="data.numEstudiantes" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'descuento'">
    <mat-label>Número de periodos</mat-label>
    <input matInput [(ngModel)]="data.numPeriodos" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo == 'cohorte'">
    <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="data.fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div *ngIf="data.modulo === 'departamento' || data.modulo === 'programa' || data.modulo === 'cohorte' 
    || data.modulo ==='usuario'">
    <span class="field-label">Seleccione {{data.modulo === 'departamento' ? 'facultad' : data.modulo === 'programa' ? 'facultad' : data.modulo === 'cohorte' ? 'programa': data.modulo === 'usuario' ? 'facultad':''}} perteneciente</span>
    <select class="form-control" [(ngModel)]="entidadSeleccionada">
        <option *ngFor="let item of this.listaPerteneciente" [value]="item.id">{{item.nombre}}</option>
    </select>
  </div>
  <div *ngIf="data.modulo === 'descuento'">
    <span class="field-label">Seleccione {{data.modulo === 'descuento' ? 'tipo de descuento':''}} perteneciente</span>
    <select class="form-control" [(ngModel)]="entidadSeleccionada">
        <option *ngFor="let item of this.listaPerteneciente" [value]="item.id">{{item.nombreTipo}}</option>
    </select>
  </div>
</div>
<div *ngIf="showError" class="error-message">
  <span>Por favor, completa todos los campos requeridos.</span>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between;">
  <button mat-button style="background-color: #f02032; color: white;" (click)="onNoClick()">Cancelar</button>
  <button mat-button style="background-color: #0a7c0a; color: white;" (click)="onAccept()" cdkFocusInitial>{{data.isEdit ? 'Guardar' : 'Aceptar'}}</button>
</div>


