.error-message {
  text-align: center; /* Centra el texto horizontalmente */
  width: 100%; /* Asegura que el div ocupe todo el ancho disponible */
  margin-top: 20px; /* Espacio antes del mensaje de error */
}

.error-message span {
  color: red;
  display: block; /* Hace que el span se comporte como un bloque y respete el centrado */
}

.dialog-title {
  font-weight: bold;
  background-color: #003b70;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
