<h1 mat-dialog-title>{{data.isEdit ? 'Editar' : 'Crear'}} {{data.modulo}}</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="data.modulo !== 'ingreso'">
    <mat-label>Nombre del {{data.modulo}}</mat-label>
    <input *ngIf="data.modulo != 'cohorte'" matInput [(ngModel)]="data.nombre">
    <input *ngIf="data.modulo == 'cohorte'" matInput [(ngModel)]="data.numero">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'ingreso'">
    <mat-label>Concepto del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.concepto">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'ingreso'">
    <mat-label>Valor del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.valor" type="number">
</mat-form-field>
  <mat-form-field *ngIf="data.modulo == 'cohorte'">
    <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="data.fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div *ngIf="data.modulo === 'departamento' || data.modulo === 'programa' || data.modulo === 'cohorte'">
    <span class="field-label">Seleccione {{data.modulo === 'departamento' ? 'facultad' : data.modulo === 'programa' ? 'departamento' : data.modulo === 'cohorte' ? 'programa':''}} perteneciente</span>
    <select class="form-control" [(ngModel)]="entidadSeleccionada">
        <option *ngFor="let item of this.listaPerteneciente" [value]="item.id">{{item.nombre}}</option>
    </select>
  </div>
</div>
<div *ngIf="showError" class="error-message">
  <span>Por favor, completa todos los campos requeridos.</span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onAccept()" cdkFocusInitial>{{data.isEdit ? 'Guardar' : 'Aceptar'}}</button>
</div>


