<h1 mat-dialog-title class="dialog-title">{{data.isEdit ? 'Editar' : 'Crear'}} {{data.modulo}}</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="data.modulo === 'egreso transferencia' 
  || data.modulo === 'egreso otros servicios docente'
  || data.modulo === 'egreso viaje'">
    <mat-label>Descripcion del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.descripcion">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso general' 
  || data.modulo === 'otro egreso' || data.modulo === 'egreso inversion'">
    <mat-label>Concepto del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.concepto">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso recurrente'">
    <mat-label>Unidad del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.unidad">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso recurrente'">
    <mat-label>Cargo del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.cargo">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio no docente'
  || data.modulo === 'egreso otros servicios docente'">
    <mat-label>Servicio del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.servicio">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso transferencia'">
    <mat-label>Porcentaje del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.porcentaje" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso viaje'">
    <mat-label>Número de personas del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.numPersonas" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso viaje'">
    <mat-label>Apoyo desplazamiento del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.apoyoDesplazamiento" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso viaje'">
    <mat-label>Número de viajes por persona del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.numViajesPorPersona" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso otros servicios docente'">
    <mat-label>Número de horas del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.numHoras" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso viaje'">
    <mat-label>Valor del transporte del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.valorTransporte" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso recurrente'">
    <mat-label>Valor por hora {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.valorHora" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso recurrente'">
    <mat-label>Número de horas {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.numHoras" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso inversion'">
    <mat-label>Valor del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.valor" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso general' || data.modulo === 'otro egreso' 
  || data.modulo === 'egreso servicio no docente'">
    <mat-label>Valor unitario del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.valorUnitario" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso otros servicios docente'">
    <mat-label>Valor total del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.valorTotal" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso general' || data.modulo === 'otro egreso'
  || data.modulo === 'egreso servicio no docente'">
    <mat-label>Cantidad del {{data.modulo}}</mat-label>
    <input matInput [(ngModel)]="data.cantidad" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Nombre materia</mat-label>
    <input matInput [(ngModel)]="data.nombreMateria">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Es docente de planta?</mat-label>
    <mat-select [(ngModel)]="data.esDocentePlanta">
      <mat-option [value]="true">Sí</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Nombre Docente</mat-label>
    <input matInput [(ngModel)]="data.nombreDocente">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Escalafón</mat-label>
    <input matInput [(ngModel)]="data.escalafon">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="data.titulo">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Horas teóricas</mat-label>
    <input matInput [(ngModel)]="data.horasTeoricasMat" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Horas prácticas</mat-label>
    <input matInput [(ngModel)]="data.horasPracticasMat" type="number">
  </mat-form-field>
  <mat-form-field *ngIf="data.modulo === 'egreso servicio docente'">
    <mat-label>Valor hora profesor</mat-label>
    <input matInput [(ngModel)]="data.valorHoraProfesor" type="number">
  </mat-form-field>
  <div *ngIf="data.modulo === 'egreso transferencia' || data.modulo === 'egreso general' 
  || data.modulo === 'otro egreso' || data.modulo === 'egreso servicio no docente'
  || data.modulo === 'egreso otros servicios docente'
  || data.modulo === 'egreso inversion'
  || data.modulo === 'egreso servicio docente'">
    <span class="field-label">Seleccione {{data.modulo === 'egreso transferencia' ? 'tipo transferencia'
    :data.modulo === 'egreso general' ? 'tipo costo':data.modulo === 'otro egreso' ? 'tipo costo'
    :data.modulo === 'egreso servicio no docente' ? 'tipo costo'
    :data.modulo === 'egreso otros servicios docente' ? 'tipo costo'
    :data.modulo === 'egreso inversion' ? 'tipo inversion'
    :data.modulo === 'egreso servicio docente' ? 'tipo compensacion':''}} perteneciente</span>
    <select class="form-control" [(ngModel)]="entidadSeleccionada">
        <option *ngFor="let item of this.listaPerteneciente" [value]="item.id">{{item.nombreTipo}}</option>
    </select>
  </div>
</div>
<div *ngIf="showError" class="error-message">
  <span>Por favor, completa todos los campos requeridos.</span>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between;">
  <button mat-button style="background-color: #f02032; color: white;" (click)="onNoClick()">Cancelar</button>
  <button mat-button style="background-color: #0a7c0a; color: white;" (click)="onAccept()" cdkFocusInitial>{{data.isEdit ? 'Guardar' : 'Aceptar'}}</button>
</div>