<div class="container">
    <!-- Contenedor para el botón y el campo de búsqueda -->
    <div class="action-bar">
      <button mat-raised-button color="primary"  (click)="openCreateDialog('egreso servicio docente')" class="create-button">Crear Egreso por servicios docentes</button>
      <!-- Campo de búsqueda -->
      <mat-form-field class="example-full-width search-field" appearance="fill">
          <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()" placeholder="Ingresa tu búsqueda">
      </mat-form-field>
  </div>
<table mat-table [dataSource]="filteredEgresos| paginate: { itemsPerPage: 10, currentPage: p }" class="mat-elevation-z8" >
  <!-- Columna de nombre -->
  <ng-container matColumnDef="nombreMateria">
    <th mat-header-cell *matHeaderCellDef> Nombre Materia </th>
    <td mat-cell *matCellDef="let egreso"> {{egreso.nombreMateria}} </td>
  </ng-container>
  <ng-container matColumnDef="esDocentePlanta">
    <th mat-header-cell *matHeaderCellDef>Es docente planta</th>
    <td mat-cell *matCellDef="let egreso">{{ egreso.esDocentePlanta ? 'Sí' : 'No' }}</td>
  </ng-container>
  <ng-container matColumnDef="nombreDocente">
    <th mat-header-cell *matHeaderCellDef> Nombre Docente </th>
    <td mat-cell *matCellDef="let egreso">{{egreso.nombreDocente}}</td>
  </ng-container>
  <ng-container matColumnDef="escalafon">
    <th mat-header-cell *matHeaderCellDef> Escalafón </th>
    <td mat-cell *matCellDef="let egreso"> {{egreso.escalafon}}</td>
  </ng-container>
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let egreso"> {{egreso.titulo}}</td>
  </ng-container>
  <ng-container matColumnDef="horasTeoricasMat">
    <th mat-header-cell *matHeaderCellDef> Horas teóricas </th>
    <td mat-cell *matCellDef="let egreso"> {{egreso.horasTeoricasMat}}</td>
  </ng-container>
  <ng-container matColumnDef="horasPracticasMat">
    <th mat-header-cell *matHeaderCellDef> Horas prácticas </th>
    <td mat-cell *matCellDef="let egreso"> {{egreso.horasPracticasMat}}</td>
  </ng-container>
  <ng-container matColumnDef="valorHoraProfesor">
    <th mat-header-cell *matHeaderCellDef> Valor hora profesor </th>
    <td mat-cell *matCellDef="let egreso"> ${{egreso.valorHoraProfesor}}</td>
  </ng-container>
  <ng-container matColumnDef="tipoCompensacion">
    <th mat-header-cell *matHeaderCellDef> Tipo compensación </th>
    <td mat-cell *matCellDef="let egreso"> {{egreso.tipoCompensacion.nombreTipo}} </td>
  </ng-container>
  <ng-container matColumnDef="totalPagoProfesor">
    <th mat-header-cell *matHeaderCellDef> Pago total </th>
    <td mat-cell *matCellDef="let egreso"> ${{egreso.totalPagoProfesor}} </td>
  </ng-container>

  <!-- Columna de acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let egreso">
      <button mat-icon-button color="primary" (click)="openCreateDialog('egreso servicio docente', egreso)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="openDeleteDialog(egreso.id, 'egreso servicio docente')">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
