<div class="container">
    <form [formGroup]="presupuestoForm">
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>INFORMACIÓN GENERAL</h2>
          </div>
          <div class="row">
            <div class="col-5">
              <mat-form-field appearance="fill">
                <mat-label>Numero cohorte</mat-label>
                <input matInput readonly [value]="numeroCohorte">
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field appearance="fill">
                <mat-label>Programa</mat-label>
                <input matInput readonly [value]="programaCohorte">
              </mat-form-field>
            </div>
            <div class="col-2">
             <span>Ingresos Totales: {{ingresosTotales}}</span>
            </div>
            <!-- <div class="col-7">
              <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <textarea matInput formControlName="observaciones"></textarea>
              </mat-form-field>
            </div>     -->
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE INGRESOS</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-ingresos></app-listar-ingresos>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE DESCUENTOS</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-descuentos></app-listar-descuentos>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE EGRESOS GENERALES</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-egresos-generales></app-listar-egresos-generales>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE EGRESOS POR TRANSFERENCIA</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-egresos-transferencias></app-listar-egresos-transferencias>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE EGRESOS POR INVERSIÓN</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-egresos-inversion></app-listar-egresos-inversion>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE EGRESOS RECURRENTES</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-egresos-recurrentes></app-listar-egresos-recurrentes>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE EGRESOS POR VIAJES</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-egresos-viajes></app-listar-egresos-viajes>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE EGRESOS POR OTROS SERVICIOS DOCENTE</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-otros-servicios-docente></app-listar-otros-servicios-docente>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE EGRESOS POR SERVICIOS NO DOCENTE</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-egresos-servicios-no-docente></app-listar-egresos-servicios-no-docente>
          </div>
            
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="card">
          <div class="row mr-1">
            <h2>DATOS DE OTROS EGRESOS</h2>
          </div>
          <div class="row" *ngIf="idPresupuesto !== 0">
               <app-listar-egresos-otros></app-listar-egresos-otros>
          </div>
            
        </div>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" type="submit">Guardar Presupuesto</button>
      </div>    
    </form>    
</div>
